body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.636);
    width: 200px;
}

#display {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 180px;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 1.5em;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #ccc;
}
